body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .bg{
  
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('C:\Users\ipsit\OneDrive\Desktop\mycoding folder\Zairza_Intermediate\my-coding-background\src\Background.jpg');
    background-size: cover;
    background-position: center;
    filter:blur(3px);
  }
  .blue-wave {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 72vh;
    overflow: hidden;
  }
  .wave-svg {
    width: 100vw;
    height: 100vh;
    display: block;
  }
  